.table {
	width: 75vw;
	border: solid 4px hsl(233, 49%, 90%);
	margin: 1rem;
}

.table thead {
	background-color: hsl(233, 80%, 90%);
	color: dimgray
}

.table td, .table th {
	text-align: center;
	padding: 1rem;
	border: solid 2px hsl(233, 49%, 90%);
}

.promptCell {
	font-weight: bold;
}

.optionCell div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.optionCell input {
	margin: .5rem;
}

.optionCell img {
	max-width: 200px;
	border: solid 2px hsl(233, 49%, 90%);
}